# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.cache/


# misc
.venv/
.coverage
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml